* {
  box-sizing: border-box;
}

@font-face {
  font-family: myXoFont;
  src: url(files/Kayla1.ttf);
}

body {
  background: url(files/blue-brickwall.jpg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: myXoFont;
}

#gameContainer {
  background-color: #2656beff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;
  width: 600px;
  height: 600px;
  border-radius: 10px;
}

.game-grid {
  width: 300px;
  height: 300px;
  background-color: azure;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-grid div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3 rem;
  height: 3 rem;
  padding: 0.5rem;
  border: solid 2px black;
  color: blue;
  font-family: myXoFont;
  font-size: 4rem;
}

h1 {
  color: azure;
  font-size: 46px;
  font-weight: lighter;
}

.cell {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.cell:not(.disabled):hover {
  background: #eee;
}

select,
.options {
  padding: 0.5rem;
}

button {
  margin: 3px;
}

#playerName1,
#playerName2 {
  padding: 0.5rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  border: black;
  border-style: dashed;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 100px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
