*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin-top: 10%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  text-align: center;
  background-image: url(field1118px.svg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  background-color: beige;
}

form {
  border: solid 1px blueviolet;
  padding: 16px;
}

.container {
  flex: 1 0 auto;

  padding-top: 50px;
  max-width: 700px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: space-around;
}

.guess-div {
  margin: 8px;
  padding: 2rem;
  border: solid 1.5px hotpink;
  background-color: whitesmoke;
  border-bottom-left-radius: 25px;
}

.guess-div:hover {
  box-shadow: 10px 10px lightblue;
}

input {
  height: 60px;
  width: 60px;
  padding: 8px;
  text-align: center;
}

#submit {
  position: absolute;
  top: 309px;
  right: 400px;
  background-color: blueviolet;
}
