footer {
  display: flex;
  background-color: #162521;
  flex-direction: row;
  justify-content: center;
  padding: 16px 8px;
  font-family: 'Dosis', sans-serif;
  min-height: 48px;
}

h2 {
  border-bottom: 1px solid white;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  letter-spacing: 4px;
  padding-bottom: 0.25em;
  margin-bottom: 8px;

}



 footer a {
  font-family: 'Titillium Web', sans-serif;
  align-self: flex-start;
  font-size: 10px;
  color: white;
  text-decoration: none;
  margin-bottom: 0.4em;
  font-weight: bold;
  padding-bottom: 4px;
}

 footer section a:hover {
  border-bottom: 1px solid white;
  margin-bottom: 1px;
}

footer section {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  margin-right: 5vw;
}

@media (max-width: 769px) {

  footer section a {
    font-size: 1rem;
  }

}
