* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(153, 236, 193);
}

.board {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 360px;
  flex-wrap: wrap;
  margin: 100px;
}

.cell {
  display: flex;
  flex-basis: 120px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.cell:nth-child(3n + 2) {
  border-bottom: none;
}

.cell:nth-child(3n + 1) {
  border-bottom: none;
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-bottom: none;
  border-right: none;
}

.cell:nth-child(1) {
  border-top: none;
}

.cell:nth-child(2) {
  border-top: none;
}

.cell:nth-child(3) {
  border-top: none;
}
